/* Colors
/********************/

/*$blue:      rgb(66, 70, 104);
$yellow:      rgb(214, 192, 42);
$brown:       rgb(64, 45, 28);
$light_brown: rgb(166, 139, 106);
$gray:        rgb(252, 244, 237);
$white:       rgb(252, 244, 237);
$red:         rgb(217, 86, 31);*/